<ng-select [appendTo]="'body'" [items]="keysBuffer" [virtualScroll]="true" [loading]="keysLoading" placeholder="{{placeholder}}"
  [multiple]="allowMultiple" (scroll)="onKeyScroll($event)" (clear)="onClear()" (scrollToEnd)="onKeyScrollToEnd()"
  [typeahead]="keyInput$" [(ngModel)]="selectedKey" (change)="callOnSelectCallback()">
  <ng-template ng-header-tmp>
    <small class="form-text text-muted">Loaded {{keysBuffer.length}} of {{filteredKeys.length}}</small>
    <input *ngIf="allowMultiple" type="checkbox" [(ngModel)]="selectAll" (change)="onSelectAll($event)"
      style="float: right;" />
    <small *ngIf="allowMultiple" class="form-text text-muted" style="float: right;">Select All</small>
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    {{item}}
  </ng-template>
</ng-select>