.selector {
    padding: 0 10px 0 10px
}

.categoricalCard {
    width: 80px;
    height: 40px;
    margin: 5px 10px 5px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.selectedCard {
    background-color: #ffd740
}

#menu {
    top: 35px !important;
    right: 5px !important;
    bottom: auto !important;
    left: auto !important;
    position: absolute !important;
    z-index: 10;
}


.errorMessage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statusIconError {
    fill: red;
    color: red;
    width: 100%;
    height: 60px;
    font-size: 50px;
    text-align: center;
}