<app-progress-indicator *ngIf="!isLoaded"></app-progress-indicator>
<div *ngIf="isLoaded">
	<table mat-table [dataSource]="dataInfo" class="mat-elevation-z8">
		<ng-container matColumnDef="dataKey">
			<th mat-header-cell *matHeaderCellDef> Data Key </th>
			<td mat-cell *matCellDef="let element"> {{element.dataKey.key}} </td>
		</ng-container>

		<ng-container matColumnDef="sourceType">
			<th mat-header-cell *matHeaderCellDef> Source Type </th>
			<td mat-cell *matCellDef="let element"> {{element.sourceType}} </td>
		</ng-container>

		<ng-container matColumnDef="addColumn">
			<th mat-header-cell *matHeaderCellDef> Add Column </th>
			<td mat-cell *matCellDef="let element">
				<button mat-icon-button color="warn" (click)="openAddCustomColumnDialog(element)">
					<mat-icon>add</mat-icon>
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="delete">
			<th mat-header-cell *matHeaderCellDef> Delete </th>
			<td mat-cell *matCellDef="let element">
				<button mat-icon-button color="warn" (click)="deleteData(element)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>
<div align="end">
	<mat-paginator #paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>