<div class="fillParent" id={{widgetSpecification.widgetId}}>
    <div class="fillParent">
        <div class="title">
            {{customOptions['title'].value}}
        </div>
        <div style="margin: 2% 1%; width: 98%;">
            <textarea id="textArea" matInput [(ngModel)]="value" style="border: none;"
                [ngModelOptions]="{standalone: true}" [disabled]="disabled"></textarea>
        </div>
    </div>
    <div id="menu">
        <mat-menu #appMenu="matMenu">
            <mat-slide-toggle style="padding:10px" [(ngModel)]="disabled">
                Disabled
            </mat-slide-toggle>
            <button mat-menu-item (click)="openChartOptions()">Chart Options</button>
            <button mat-menu-item (click)="deleteWidget()">Delete Widget</button>
        </mat-menu>

        <button mat-icon-button class="material-icons" [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>