.statusIconDone {
    fill: green;
    color: green;
    height: 100%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.statusIconError {
    fill: red;
    color: red;
    height: 100%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.navigationButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep  .mat-step-header {
    background-color:transparent !important;
}