<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Select Source</ng-template>
    <div>
      <app-progress-indicator *ngIf="!isLoaded"></app-progress-indicator>
      <mat-form-field *ngIf="isLoaded">
        <mat-select placeholder="Select Source" [(ngModel)]="selectedSource">
          <mat-option *ngFor="let source of sourceTypes" [value]="source">
            {{ source }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="navigationButtons">
        <button mat-button matStepperNext [disabled]="selectedSource == null">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select Data</ng-template>
    <div>
      <app-progress-indicator *ngIf="!isLoaded"></app-progress-indicator>
      <app-configration-property-editor #sourceConfigPropertyEditor style="padding: 6px 20px 0px 20px"
        [configKeys]="getSourceConfigs()" class="fillParent">
      </app-configration-property-editor>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!isSourceConfigPropertyEntered()"
        (click)="getDataConfigurations()">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Configure Data</ng-template>
    <div style="overflow: scroll">
      <app-progress-indicator *ngIf="!isLoaded"></app-progress-indicator>
      <app-configration-property-editor #dataConfigPropertyEditor style="padding: 6px 20px 0px 20px"
        [configKeys]="dataConfigKeys">
      </app-configration-property-editor>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!isDataConfigPropertyEntered()"
        (click)="uploadData()">Upload</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <app-progress-indicator #dataUploadProgress *ngIf="!isLoaded" [valueBased]="true"></app-progress-indicator>
      <div *ngIf="isLoaded && errorMessage==null">
        <mat-icon class="statusIconDone">done</mat-icon>
        <div style="text-align: center">
          Data Uploaded successfully
        </div>
        <h1 class="mat-headline-4"></h1>
      </div>
      <div *ngIf="isLoaded && errorMessage!=null">
        <mat-icon class="statusIconError">clear</mat-icon>
        <div style="text-align: center">
          Error occured while uploading data
          <br />{{errorMessage}}
        </div>
      </div>
      <div class="navigationButtons">
        <button mat-button *ngIf="errorMessage" matStepperPrevious>Back</button>
        <button mat-button [disabled]="!isLoaded" (click)="close()">Close</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>