<h1 mat-dialog-title>Chart Options</h1>
<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let group of Object.keys(options)" style="overflow: visible !important;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{group}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let option of options[group]" class="selector" style="padding: 0">
        <div *ngIf='isOptionValidForSeriesType(option)'>
          <mat-form-field *ngIf='option.type == null || option.type == "text"' style="width: 100%;">
            <input matInput placeholder="{{option.name}}" style="width: 100%;" [(ngModel)]="option.value"
              class="selector" style="padding: 0">
          </mat-form-field>
          <div *ngIf='option.type == "list"'  style="padding: 10px 0">
            <app-selector-wrapper [placeholder]="'Select ' + option.name" [onSelectCallback]="update(option)"
              [keys]="option.possibleValues" [defaultValue]="option.value" [allowMultiple]="false">
            </app-selector-wrapper>
          </div>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>


</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>