<h1 mat-dialog-title *ngIf="loadedStatus">Add Custom Formula Column</h1>
<div *ngIf="!loadedStatus">
  <app-progress-indicator></app-progress-indicator>
</div>

<div *ngIf="loadedStatus">
  <div mat-dialog-content>
    <div *ngIf="errorMessage.length > 0">
      <mat-error>{{errorMessage}}</mat-error>
      <br />
    </div>
    <div>
      <mat-form-field class="fillWidth">
        <input matInput placeholder="Column Name" [(ngModel)]="columnName">
      </mat-form-field>
      <mat-form-field class="fillWidth">
        <input matInput placeholder="Expression" [(ngModel)]="expression">
      </mat-form-field>
      <br />
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="addColumn()">Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>