<div style="width: 100%; height: calc(100% - 20px); padding: 10px 0 0 0;">
  <h3 *ngIf="title" style="width: 100%; text-align: center; margin-bottom: 0;">{{title}}</h3>
  <h4 *ngIf="description" style="width: 100%; text-align: center;  margin: 0;">{{description}}</h4>
  <mat-table style="margin-top: 10px" [dataSource]="data" class="mat-elevation-z8" class="fillParent">

    <ng-container *ngFor="let header of headers; let i = index" matColumnDef="{{header}}">
      <mat-header-cell *matHeaderCellDef> {{header}} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row[i]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headers;"></mat-row>
  </mat-table>
</div>