@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~nouislider/dist/nouislider.min.css";

.mat-dialog-container {
    overflow: visible !important;
}

.mat-dialog-content {
    overflow: visible !important;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    flex-wrap: inherit !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
